@import url('https://fonts.googleapis.com/css?family=Bilbo|Pirata+One|Architects+Daughter&display=swap');

/* Make number fields in Firefox work like text fields */
input[type=number] {
    -moz-appearance:textfield;
}

/* Remove the up/down arrows from number voxes from Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Make all input and select boxes ignore padding and margin for size */
input, select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Remove the down arrow from select boxes */
select, option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Hide the down arrow for select boxes for IE browsers */
select::-ms-expand {
  display: none;
}

/* This div encompasses the entire character sheet */
.sheet-main {
    background-color: #FFF;
    font-family: serif;
    font-size: 1.1em;    
    text-align: left;
    border: 1px solid #999;
    width: 850px;
}

/* Format text boxes to look like fill-in paper forms */
.sheet-main input {
    border-radius: 0px;
    outline: 0px;
    border-width: 0 0 1px 0;
    border-color: #CCC;
    font-size: 1em;
    color: 111;
    padding: 0;
    margin: 0;
    font-family: "Architects Daughter";
}

/* Format select boxes to they look like the text boxes above */
.sheet-main select {
    height: 1.2em;
    border-radius: 0px;
    outline: 0px;
    border-width: 0 0 1px 0;
    border-color: #CCC;
    font-size: 1em;
    color: 111;
    padding: 0;
    margin: 0;
    font-family: "Architects Daughter";
}

.sheet-main textarea {
    border-color: #CCC;
    font-size: 0.9em;
    color: 111;
    padding: 2px;
    margin: 0;
    font-family: "Architects Daughter";
}    

/* Show the content for the active tab */
.sheet-form-font[value="serif"] ~ .sheet-main input, 
.sheet-form-font[value="serif"] ~ .sheet-main select, 
.sheet-form-font[value="serif"] ~ .sheet-main textarea {
    font-family: serif;
}

.sheet-form-font[value="sans-serif"] ~ .sheet-main input, 
.sheet-form-font[value="sans-serif"] ~ .sheet-main select,
.sheet-form-font[value="sans-serif"] ~ .sheet-main textarea {
    font-family: sans-serif;
}


/* When a text box is focused, highlight it. */
.sheet-main input:focus {
    background-color: #EFEFEF;
    border-color: #005;
    color: #005;
}

.sheet-main select:focus {
    background-color: #EFEFEF;
    border-color: #005;
    color: #005;
}

.sheet-main textarea:focus {
    background-color: #EFEFEF;
    border-color: #005;
    color: #005;
}

.sheet-main input:read-only {
    color: #333;
    width: 27px;
    border-width: 0;
    background-color: #FFF;
    font-size: 1.2em;
    font-family: serif;
    cursor: default;
} 

.sheet-main input[type=number] {
    text-align: right;
    width: 27px;
    padding-right: 2px;
}

.sheet-main input[type=number].sheet-number-experience {
    text-align: center;
    width: 75px;
}

.sheet-main input[type=number].sheet-number-bonus {
    text-align: center;
    width: 32px;
}

.sheet-main input[type="text"] {
    text-align: left;
}

.sheet-number-stat {
    width: 27px;
    text-align: right;
}

input:read-only.sheet-number-autocalc {
    text-align: right;
    width: 27px;
}

.sheet-number-autocalc-total {
    font-weight: bold;    
}

input:read-only.sheet-number-autocalc-center {
    text-align: center;
    width: 27px;
}

input:read-only.sheet-number-autocalc-left {
    text-align: left;
    width: 27px;
}

input:read-only.sheet-number-autocalc-penalty {
    text-align: left;
    width: 32px;
}

input[type=number].sheet-number-autocalc-pool {
    text-align: left;
    width: 38px;
}

.sheet-text-column-header {
    font-weight: bold;
    text-align: center;
}

.sheet-text-row-header {
    font-weight: bold;
    text-align: left;
}

label {
    font-size: 1em;
    text-align: right;
    padding-right: 5px;
}

.sheet-text-label {
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

.sheet-text-center {
    text-align: center;
}

.sheet-text-right {
    text-align: right;
}

.sheet-text-section-heading {
    font-size: 1.5em;
    font-weight: bold;
    align-self: start;
}

.sheet-checkbox-center {
    justify-self: center;
}

.sheet-grid-auto-columns {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}

button[type=roll].sheet-roller-button:before {
    content: "";
}

button[type=roll].sheet-roller-button:hover {
    color: #050;
}

button[type=roll].sheet-roller-button:active {
    color: #005;
}

button[type=roll].sheet-roller-button {
    font-family: dicefontd10;
    font-size: 2em;
    color: #933;
    border-style: none;
    background-image: none;
    background-color: transparent;
    outline: none;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    border-width: 0px;
    box-shadow: none;
}

button[type=roll].sheet-button-broadcast:before {
    content: url("https://raw.githubusercontent.com/LyricalStreetPoet/roll20-character-sheets/master/MERP/speech-bubble.png");
}

button[type=roll].sheet-button-broadcast {
    border-style: none;
    background-image: none;
    background-color: transparent;
    outline: none;
    border-width: 0px;
    box-shadow: none;
}



/* Checkbox for toggling Visibility */

input[type="checkbox"].sheet-visibility-toggle {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake checkbox */
input[type="checkbox"].sheet-visibility-toggle + span::before {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    content: url("https://raw.githubusercontent.com/LyricalStreetPoet/roll20-character-sheets/master/MERP/down-arrow.png");
    width: 16px;
    height: 16px;
}

input[type="checkbox"].sheet-visibility-toggle:checked + span::before {
    content: url("https://raw.githubusercontent.com/LyricalStreetPoet/roll20-character-sheets/master/MERP/right-arrow.png");
}

input.sheet-visibility-toggle:checked ~ div.sheet-togglable-visibility {
    display: none;
}

/* End Visbility Checkbox */

/* Begin Heading Formatting (title and global rollers) */
.sheet-heading {
    background-color: #933;
    color: #FFF;
    background:
}

.sheet-img-merp-logo {
    width: 65%;
    padding-bottom: 5px;
}

.sheet-top-banner {
    display: grid;
    grid-template-columns: 4fr 3fr 6fr;
}

.sheet-title {
    font-size: 1.8em;
    font-family: 'Pirata One';
    vertical-align: middle;
    padding-left: 10px;
}

select.sheet-select-broadcast {
    font-family: sans-serif;
    width: 60px;
    height: auto;
    padding: 2px;
}

.sheet-grid-global-settings{
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 3px;
    justify-content: start;
    align-items: center;
}
.sheet-grid-global-rolls {
    display:grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 3px;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
}

.sheet-grid-global-rolls button[type=roll].sheet-roller-button {
    padding: 0px 0px 5px 0px;
    color: #005;
}

.sheet-global-label {
    font-size: 1.3em;
    font-family: 'Pirata One';
}


/* End Heading Formatting */

/* Top Level Tab Formatting */
.sheet-tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px;
    font-family: sans-serif;

}

.sheet-tab-buttons {
    border: 1px;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2em;
    padding: 2px 5px 2px 5px;    
    background-color: #EEE;
    color: #000;
    outline: none;
    box-shadow: none;
}

/* Hide all tab content by default */
.sheet-tab-content {
    display: none;
}

/* Highlight the selected Tab */
.sheet-active-tab[value="personal"] ~ div > div > button.sheet-tab-personal,
.sheet-active-tab[value="skills"] ~ div > div > button.sheet-tab-skills,
.sheet-active-tab[value="spells"] ~ div > div > button.sheet-tab-spells, 
.sheet-active-tab[value="equipment"] ~ div > div > button.sheet-tab-equipment, 
.sheet-active-tab[value="settings"] ~ div > div > button.sheet-tab-settings, 
.sheet-active-tab[value="journal"] ~ div > div > button.sheet-tab-journal {
    background-color: #FFF;
}

/* Show the content for the active tab */
.sheet-active-tab[value="personal"] ~ div > div.sheet-tab-content-personal,
.sheet-active-tab[value="skills"] ~ div > div.sheet-tab-content-skills,
.sheet-active-tab[value="spells"] ~ div > div.sheet-tab-content-spells, 
.sheet-active-tab[value="equipment"] ~ div > div.sheet-tab-content-equipment, 
.sheet-active-tab[value="settings"] ~ div > div.sheet-tab-content-settings, 
.sheet-active-tab[value="journal"] ~ div > div.sheet-tab-content-journal {
    display: grid;
}

/* End Top Level Tab Formatting */

.sheet-box-border {
    border: 1px solid #CCC;
    border-radius: 5px 5px 5px 5px;
    padding: 1px 10px 1px 10px;
    margin: 5px;
}

/* Personal Tab Boxes Layout */

.sheet-tab-content-personal {
    margin: 2px;
    grid-gap: 2px;
}

.sheet-grid-personal-buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    justify-content: start;
    padding: 10px;
}

.sheet-button-personal  {
    border: 1px solid #333;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.2em;
    padding: 2px 5px 2px 5px;    
    background-color: #FFF;
    color: #000;
}

/* Hide all skills content by default */
.sheet-personal-section {
    display: none;
}

/* Highlight the selected skills button */
.sheet-active-personal-section[value="player"] ~ div > button.sheet-button-personal-player,
.sheet-active-personal-section[value="npc"] ~ div > button.sheet-button-personal-npc {
    background-color: #933;
    color: #FFF;
}

/* Show the skills content for the active button */
.sheet-active-personal-section[value="player"] ~ div.sheet-personal-player,
.sheet-active-personal-section[value="npc"] ~ div.sheet-personal-npc {
    display: grid;
}

.sheet-grid-personal-top, .sheet-grid-npc-top {
    display: grid;
    grid-template-columns: auto auto;
}

.sheet-grid-personal-middle, .sheet-grid-npc-middle {
    display: grid;
    grid-template-columns: auto auto auto;
}

.sheet-grid-personal-bottom, .sheet-grid-npc-bottom {
    display: grid;
    grid-template-columns: auto auto auto;
}

.sheet-grid-stats-heading {
    display: grid;
    grid-auto-flow: column;
    align-items: center;   
}

.sheet-box-border-npc {
    display: grid;
}
.sheet-text-speed {
    width: 110px;    
}


/* End Personal Tab Boxes Layout */


.sheet-grid-personal-info {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.sheet-grid-armor {
    display: grid;
    grid-template-columns: auto auto;
}

.sheet-grid-armor-shield {
    display: grid;
    align-items: center;
}

.sheet-grid-helm-greaves {
    display: grid;
    grid-auto-columns: auto;
    align-items: center;
}

.sheet-select-armor {
    width: 100px;
}

.sheet-grid-resistances {
    display: grid;
    grid-template-columns: repeat(10, auto);
    align-items: center;
}

.sheet-grid-appearance {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

.sheet-grid-status {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5px;
    justify-content: start;
}

.sheet-grid-status-hp {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2px;
    justify-items: center;
}

input[type=number].sheet-number-hp {
    font-size: 1.5em;
    width: 45px;
    text-align: center;
}

.sheet-grid-status-effects {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
    justify-content: start;
}

.sheet-grid-movement {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
    justify-content: start;
}

.sheet-grid-vision {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
    justify-content: start;
}

input[type=number].sheet-number-vision {
    text-align: center;
    width: 35px;
}

.sheet-grid-penalties {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    justify-content: start;
}

.sheet-grid-stats {
    display: grid;
    grid-template-columns: repeat(9, auto);
    align-items: center;
}

.sheet-grid-background-options-helper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
}

.sheet-grid-languages-helper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    justify-content: start;
}

.sheet-grid-languages {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-content: start;
}

.sheet-grid-skills {
    display: grid;
    padding: 5px;
}

.sheet-skill-section-buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    justify-content: start;
    padding: 10px;
}

.sheet-button-skills  {
    border: 1px solid #333;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.2em;
    padding: 2px 5px 2px 5px;    
    background-color: #FFF;
    color: #000;
}

/* Hide all skills content by default */
.sheet-skills-section {
    display: none;
}

/* Highlight the selected skills button */
.sheet-active-skills-section[value="primary"] ~ div > div > div > button.sheet-button-skills-primary,
.sheet-active-skills-section[value="secondary"] ~ div > div > div > button.sheet-button-skills-secondary {
    background-color: #933;
    color: #FFF;
}

/* Show the skills content for the active button */
.sheet-active-skills-section[value="primary"] ~ div > div.sheet-skills-primary,
.sheet-active-skills-section[value="secondary"] ~ div > div.sheet-skills-secondary {
    display: grid;
}

.sheet-grid-skill-top-header {
    display: grid;
    grid-template-columns: 6fr 4fr 10fr;
    align-items: center;
}

.sheet-grid-skill-section-header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-weight: bold;
    column-gap: 10px;
    justify-content: start;
    align-items: center;
}

.sheet-grid-skill-column-header, .sheet-grid-skill-row {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 2fr 5fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sheet-grid-skill-row-bg {
    background-color: #FFF;
}
.sheet-text-skill-heading {
    font-size: 1.3em;
}

.sheet-grid-skill-ad-bg-ranks {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
}

.sheet-grid-5ranks {
    display: grid;
    grid-template-columns: repeat(10, 13px);
    grid-gap: 2px;
    justify-items: start;
    align-items: center;
}

.sheet-grid-2ranks {
    display: grid;
    grid-template-columns: repeat(5, 13px);
    grid-gap: 2px;
    justify-items: start;
    align-items: center;
}

.sheet-grid-bodydev-header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
}

input[type="number"].sheet-number-bodydev {
    text-align: center;
    border-width: 1px 1px 1px 1px;
    color: #000;
    font-size: 0.8em;
    width: 14px;
    height: 15px;
}

.sheet-text-secondary-skill-name {
    width: 120px;
}

.sheet-select-secondaryskill-stat {
    width: 30px;
    text-align: center;
    font-size: 0.9em;
}
.sheet-select-secondaryskill-type {
    width: 30px;
    text-align: center;
    font-size: 0.5em;
}

.sheet-grid-spells-top {
    display: grid;
    grid-auto-flow: column;
    margin: 5px;
    justify-items: center;
}

.sheet-grid-spell-list {
    display:grid;
    grid-gap: 3px;
}

.sheet-grid-spell-list-header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
}

.sheet-grid-spell-list-details {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr 1fr 1fr;
    grid-gap: 5px;
    align-items: end;
}

.sheet-textarea-spell-description {
    height: 55px;
}

.sheet-text-spell-name {
    width: 150px;
}

.sheet-text-field-short {
    width: 50px;
}

.sheet-text-field-medium {
    width: 100px;
}

.sheet-text-field-long {
    width: 130px;
}

.sheet-select-spell-class {
    width: 100px;
}


.sheet-tab-content-equipment {
}

.sheet-grid-equipment-top {
    display: grid;
    margin: 5px;
    justify-items: center;
    align-items: center;
}

.sheet-grid-equipment-weight {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5px;
    justify-content: start;
}

.sheet-grid-coins {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 5px;
    align-items: center;
    justify-content: start;
}

.sheet-grid-weapon {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr 2fr;
    justify-content: start;
    align-items: center;
    grid-gap: 5px
}

.sheet-grid-weapon-list {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.sheet-grid-weapon-adjustments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-content: start;
    align-items: center;
}

.sheet-text-weapon-adjustment-header {
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;    
}

.sheet-select-weapon {
    width: 100px;
}

.sheet-select-weapon-skill {
    width: 80px;
}

.sheet-text-weapon-critical {
    width: 90px;
}

.sheet-textarea-weapon-description {
    height: 55px;
    width: 500px;
}


.sheet-grid-items {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 5fr;
    align-items: center;
    grid-gap: 5px
}

.sheet-grid-other-possessions {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    grid-gap: 20px
}

.sheet-tab-content-settings {
    grid-auto-flow: column;
    grid-gap: 2px;
    margin: 2px;
}

.sheet-grid-npc-details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
}

.sheet-grid-npc-resistances {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-items: start;
}

.sheet-grid-npc-armor {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: end;
}

.sheet-grid-npc-db-mods {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: end;
}

.sheet-grid-npc-movement {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.sheet-grid-npc-attacks {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr;
    grid-gap: 2px;
    align-items: end;
}

.sheet-grid-journal {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 8fr 1fr;
    grid-gap: 15px;
    align-items: start;
    justify-items: center;
}

.sheet-textarea-journal-note {
    height: 40px;
}

/* Hide all tab content by default */
.sheet-stat-method-content {
    display: none;
}
/* Show the content for the active tab */
.sheet-stat-method[value="pointbuy"] ~ div > div > div > div.sheet-stat-method-pointbuy,
.sheet-stat-method[value="pointbuy"] ~ div > div > div > div > div > div > div.sheet-stat-method-player-pointbuy,
.sheet-stat-method[value="roll"] ~ div > div > div > div.sheet-stat-method-roll,
.sheet-stat-method[value="roll"] ~ div > div > div > div > div > div > div.sheet-stat-method-player-roll {
    display: grid;
}

.repcontainer[data-groupname=repeating_backgroundoptions] .repitem:nth-child(odd) {
}

.repcontainer[data-groupname=repeating_backgroundoptions] .repitem:nth-child(even) {
}


/* OLD Roll Templates */


.sheet-rolltemplate-character {
    font-family: serif;
    font-size: 1.2em;
    padding: 3px;
    font-style: italic;
}

.sheet-rolltemplate-container {
    font-family: serif;
    background-color: #FFF;
    color: #000;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 3px;
}

.sheet-rolltemplate-container .sheet-rolltemplate-header {
    background-color: #306;
    color: #FFF;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

.sheet-rolltemplate-container .sheet-rolltemplate-header .sheet-rolltemplate-heading {
    font-size: large;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.sheet-rolltemplate-container .sheet-rolltemplate-header .sheet-rolltemplate-subheading {
    font-weight: normal;
    font-size: smaller;
    text-transform: uppercase;
}

.sheet-rolltemplate-container .sheet-rolltemplate-roll {
    font-size: 1.5em;
}

.sheet-rolltemplate-container .sheet-rolltemplate-results {
    margin: 5px;
}

.sheet-rolltemplate-container .sheet-rolltemplate-modifiers {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #999;
    display:grid;
    grid-template-columns: auto;
    justify-items: center;
    font-size: 0.9em;
}

.sheet-rolltemplate-container .sheet-rolltemplate-modifiers .sheet-rolltemplate-modifier-heading {
    font-weight: normal;
    font-size: smaller;
    text-transform: uppercase;
}

.sheet-rolltemplate-container .sheet-rolltemplate-modifier-label {
    text-align: right;
    color: #666;
}

.sheet-rolltemplate-container .sheet-rolltemplate-modifier-fumble {
    text-align: center;
    font-weight: bold;
    color: #900;
}

.sheet-rolltemplate-container .sheet-rolltemplate-modifier-success {
    text-align: center;
    font-weight: bold;
    color: #090;
}

.sheet-rolltemplate-container .sheet-rolltemplate-total {
    line-height: 2em;
}

.sheet-rolltemplate-container .sheet-rolltemplate-label {
    text-align: right;
    color: #666;
}

.sheet-rolltemplate-container .sheet-rolltemplate-results .sheet-rolltemplate-total .inlinerollresult{
    font-size: 2em;
}

.sheet-rolltemplate-container .sheet-grid-label-value-pair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}